@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');



/* Header section */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgb(238, 233, 233);
    padding-left: 200px;
    padding-bottom: 40px;
    padding-top: 30px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;
    align-content: center;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: rgb(31, 31, 31);
}
.header-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo1{
    width: 17px;
    margin-top:px;
}
.logo2{
    width: 15px;
}
.nav-div{
    display: flex;
    height: 50px;
    background-color: bisque;
    align-items: center;
    width: 300px;
    padding: 10px;
}
.span1{
    color:rgba(249, 72, 178, 1);
}
.header-top{
    /* border: 1px solid black; */
    width: 600px;
    height: 70px;
    display: flex;
    justify-content: center;
}
.hd-logo{
    background-color:rgb(196, 195, 195);
    width: 180px;
    height: 28px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fst-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* main section 1 */
.child1{
    background-image: url(images/Group\ 14.png);
    width: 630px;
    height: 635px;
    background-size: 100%;
    /* border: 2px solid gray; */
    align-items: center;
}
.btn1{
    background-color: rgba(249, 72, 178, 1);
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}
.btn2{
    background-color: rgba(78, 197, 247, 1);
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    border: none;
}
.button{
    margin-top: 25px;
}
.parent1{
    display: flex;
    justify-content:space-between;
    margin-bottom: 0px;
}
.img1{
    width: 550px;
    margin-right: 90px;
    height: 630px;
}
.play{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.goat{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 800;
    
}
.gchild1{
    /* border: 2px solid blue; */
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;
    
}

/* section 2*/
.img2{
    width: 600px;
}
.child201{
    /* border: 2px solid gray; */
    width: 600px;
    margin-top: 30px;
}
.child202{
    /* border: 2px solid gray; */
    width: 600px;
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
}
.parent2{
    display: flex;
    justify-content:space-evenly;
    /* background-color: rgb(238, 238, 238); */
    margin-top: 0px;
}
.we{
    margin-bottom: 30px;
    font-size: 40px;
}
.para1{
    margin-bottom: 30px;
}
.btn3{
    background-color: rgba(249, 72, 178, 1);
    color: white;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
    margin-bottom: 10px;
}
.our{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
.unleash{
    font-size: 22px;
}

/* section3 */

.child301{
    text-align: center;
    margin-top: 100px;
}
.parent3{
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}
.box1{
    height: 100px;
    width: 400px;
}
.card-image{
    width: 250px;
    margin-bottom: 10px;
}
.online{
    font-size: 35px;
    margin-bottom: 15px;
}
.std{
    color: rgb(83, 83, 83);
    font-size: 14px;
    font-weight: 500;
}

/* section 4 */


.parent4{
    /* border: 1px solid gray;  */
    margin-top: 300px;
    height: 500px;
    display: flex;
}
.child401{
     /* border: 2px solid blue; */
    width: 550px;
    height: 200px;
    text-align: right;
    margin-top: 170px;
    margin-right: 100px;
}
.child402{
     /* border: 2px solid rebeccapurple; */
    width: 600px;
    height: 500px;
}
.captain{
    width: 500px;
    margin-left: 80px;
}
.play2{
    font-size: 35px;
    padding-bottom: 20px;
}
.female{
    position:relative;
    top: -220px;
    margin-right: 60px;
    width: 230px;
}

/* section5 */

.parent5{
    height: 550px;
    /* border: 2px solid gray */
    margin-top: 100px;
    background-color: rgba(255, 66, 165, 1);
    background-image: url(images/Group\ 14.png);
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.child501{
    /* border: 2px solid blue; */
    width: 600px;
    height: 450px;
    color: white;
    margin-left: 100px;
    margin-top: 100px;
    .pink-para{
        color: rgb(230, 224, 224);
        font-weight: 200;
    }
}
.child502{
    /* border: 2px solid blue; */
    width: 700px;
    height: 550px;
}
.baby{
    width: 670px;
    margin-left: 20px;
}
.career{
    font-size: 35px;
    padding-bottom: 25px;
}
.gamer{
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.artist{
    padding-bottom: 80px;
    font-weight: 100;
}
.btn4{
    width: 160px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: palevioletred;
    font-weight: 600;
    font-size: 15px;
}
footer{
    background-color: rgba(11, 2, 35, 1);
    color: white;
    height: 400px;
}
.f1{
    display: flex;
    width: 1330px;
    /* border: 2px solid rgb(145, 16, 16);  */
    justify-content: center;
    padding-top: 70px;
    gap: 15px;
}
.fp{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    display: flex;
}
.fp1{
    display: flex;
}
.fp2{
    display: flex;
}
.btn5{
    border-radius: 30px;
    width: 230px;
    height: 60px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.btn5:hover{
    border:1px solid rgb(240, 61, 120);
}
.btn-txt:hover{
    color: rgb(240, 61, 120);
}
.btn-txt{
    color: rgb(31, 30, 30);
    padding: 17px;
}
.last{
    height: 400px;

    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}
.last1{
    margin-bottom: 50px;
    margin-left: 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
}
.last2{
    margin-left: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.coppy{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.png{
    width: 30px;
    justify-content: space-around;
    padding: 13px;
}
.img-div{
    /* border: 2px solid white; */
    width: 600px;
    margin-left: 500px;
    height: 50px;
    align-items: center;
    justify-content: center;
    
}
.fp11{
    margin-left: 450px;
    /* border: 2px solid white; */
    font-size: 12px;
    margin-top: 30px;
}
.fp112{
    margin-left: 500px;
    margin-bottom: 100px;
}